@import url(fontawesome-all.min.css);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
 a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul, li{
	list-style: none;
}

blockquote, q {
	quotes: none;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 2.5em;
    text-align: center;
    margin: 2vh 0;
}
p{
    font-size: 1.1em;
    margin: 1vh 2vh;
    
}
p ul li{
    list-style:disc;
}
main>section{
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main section+section{
    text-align: left;
    display: block;
    height: 80vh;
}

footer nav{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    position:relative;
    bottom: 0;
}

footer nav li{
    display: inline-block;
    margin: 2vh auto;
}
